<h2> <%= @restaurant.name %> </h2>

<p><%= @restaurant.category %> </p>
<p> <%= @restaurant.address  %></p>
<p> <%= @restaurant.phone_number  %></p>
<p> reviews: <% @restaurant.reviews.each do |review| %>
  <p> <%= review.content %> rating: <%= review.rating %> | </p>
  <% end  %> </p>

<%= render 'reviews/form' %>


<p> <%= link_to 'index', restaurants_path(@restaurant) %>  </p>
